__pycache__/
*.py[cod]
*$py.class

.Python
build/
runs/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
uv.lock
*/_version.py

*.log
*.txt
*.out
*.ipynb
*.pth
*.pt

/data_trained_models
/data_trajectories
/datasets
/models
/generations